@import '../../Styles-patterns/patterns';

.container{

    &__form{
        @extend %weatherContainer;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__inputTwo{
            padding: 1rem 0;
        }
    }
}