@media only screen and (min-width: 700px){
    .aside{
        position: relative;
        left: 69rem;
        top: 10px;
        width: 250px;
        height: 2000px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        &__weather{
    
            &--img{
                position: absolute;
                top: 94px;
                right: 0;
                padding: 10px 30px;
                width: 200px;
                height: 250px;
        
                &:hover{
                    cursor: pointer;
                }
            }       
        }
        
        &__ads{
            position: absolute;
            top: 380px;
            right: 0;
            width: 200px;
            height: 600px;
            padding: 10px 30px;
        
            &:hover{
                cursor: pointer;
            }
        }
    
        &__ads2{
            position: absolute;
            top: 1010px;
            right: 0;
            padding: 10px 30px;
            width: 200px;
            height: 500px;
    
            &:hover{
                cursor: pointer;
            }
        }
    
        &__ads3{
            position: absolute;
            top: 1560px;
            right: 0;
            padding: 10px 30px;
            width: 200px;
            height: 100px;
    
            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 699px){
    .aside{
        display: none;
    }
}