.header{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: -100;

    &__container{
        position: relative;
        top: 90px;
        left: 20px;

        &__title{
            padding: 10px 20px;
            letter-spacing: normal;

            &--color{
                color: blue;
            }
        }
    
        &__subtitle{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding: 10px 20px;
        }
    
        &__comment{
            font-family: 12px;
            font-weight: bold;
            padding: 10px 20px;
        }
    }
    
    &__video{
        position: relative;
        top: -70px;
        left: 80px;
        width: 750px;
        
        padding: 10px 10px;

        &__comment{
            font-size: 8px;
            position: absolute;
            top: 500px;
        }
    }

    &__weather{

        &--img{
            position: relative;
            top: 94px;
            right: -100px;
            padding: 10px 30px;
            width: 200px;
            height: 250px;

            &:hover{
                cursor: pointer;
            }
        }       
    }

    &__ads{
        position: relative;
        top: 370px;
        right: 160px;
        width: 200px;
        height: 600px;
        padding: 10px 30px;

        &:hover{
            cursor: pointer;
        }
    }
}