.navbar{
    width: 100%;
    height: 50px;
    background-color: #FFDCEE;
    box-shadow: 0 3px 4px -2px rgba(0,0,0,.2);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__button{
        background-color: transparent;
        border: transparent;

        &:active{
            border: transparent;
        }

        &__bars{
            width: 20px;
            height: 30px;
            margin: 10px 10px;
            cursor: pointer;
        }
    }

    &__logo{

        width: 240px;
        height: 40px;
        position: fixed;
        left: 555px;
    }

    &__container{

        position: relative;

        &__search{
            position: absolute;
            left: -140px;
            z-index: 0;
            width: 200px;
            height: 25px;
            padding: 5px;
            margin: 6px -100px;
            background-position: right;
            background-repeat: no-repeat;
            border: 1px solid #ccc;
            border-radius: .1875rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                                        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
                                        'Helvetica Neue', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &__button{

            background-color: transparent;
            border: transparent;

            &:active{
                border: transparent;
            }

            &__img{
                position: absolute;
                left: -60px;
                top: 15px;
                z-index: 10;
    
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}